
// .yt-lite {
//   height: inherit;
//   width: inherit;
// }
// <LiteYouTubeEmbed
// id="gHzsRPmCaIE"
// title="What’s new in Material Design for the web (Chrome Dev Summit 2019)"
// />

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$border-radius: 3px;

.simple-card {
  box-shadow: $shadow;
  border-radius: $border-radius;
}

