@import "../../../styles/prefixes/prefixes.module.scss";

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$border-radius: 3px;

.#{$prefix} {
  &.simple-card {
    box-shadow: $shadow;
    border-radius: $border-radius;
    box-sizing: border-box;
    overflow: hidden;
  }
}
