@import "../../../styles/prefixes/prefixes.module.scss";

.#{$prefix} {
  &.content-zone__card-zone {
    display: grid;
  }
  
  
  &.content-zone__zone-one {
    position: relative;
  }
  
  &.content-zone__zone-two {
    position: relative;
  }
}
