
$purple-light: #8a04ed;
$purple-dark: #570296;
$purple-darker: #240c76;
$purple-darkest: #0b0423;
$pink: #ef9af2;
$magenta: #831187;
$black: #0c0c0c;


:export {
  purple-light: $purple-light;
  purple-dark: $purple-dark;
  purple-darker: $purple-darker;
  purple-darkest: $purple-darkest;
  pink: $pink;
  magenta: $magenta;
  black: $black;
}
