
$purple-light: #8a04ed;
$purple-dark: #570296;
$purple-darker: #12063b;
$purple-darkest: #0b0423;
$pink: #ef9af2;
$magenta: #831187;
$black: #0c0c0c;
$retro-teal: #26d8ff;
$purple-lightest: #ab81cb;
$white-pink: #fae1fb;



:export {
  purple-light: $purple-light;
  purple-dark: $purple-dark;
  purple-darker: $purple-darker;
  purple-darkest: $purple-darkest;
  pink: $pink;
  magenta: $magenta;
  black: $black;
  retro-teal: $retro-teal;
  white-pink: $white-pink;
  purple-lightest: $purple-lightest;
}
