@import "../../../scssVars/colors/colors.module.scss";

.loader-section {
  height: 100%;
  // background-color:#240c76; Use this later(lighter shade)
  background-color: $purple-darkest;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  h2 {
    font-weight: normal;
  }

  #page__loader-text-container {
    margin-top: 90px;
  }
  
}
